/*----------для приладу Counter (index.html, counter.js)------------*/
/* .counter {
  display: flex;
  align-items: center;
}
.btn {
  padding: 10px;
  font-size: 14px;
  line-height: 1;
}
.text {
  margin: 0 25px;
  font-size: 36px;
} */
/*----------для приладу 4 (abstract-6-1)------------*/
/* .message {
  border-radius: 4px;
  border: 2px solid rgb(131, 131, 193);
}

.link-btn {
  border-radius: 4px;
  padding: 10px;
  color: rgb(49, 12, 83);
  background-color: rgb(131, 131, 193);
  display: inline-block;
  text-decoration: none;
} */

/*----------для приладу 5-6 (abstract-6-1)------------*/
/* .orange,
.color {
  color: orange;
} */

/*----------для приладу 11  (abstract-6-1)------------*/
/* body {
  margin: 24px;
}

.usernames li {
  padding: 8px;
  border: 2px dashed tomato;
  text-transform: uppercase;
}

.usernames li:not(:last-child) {
  margin-bottom: 12px;
} */

/*----------для приладу 17  (abstract-6-1)------------*/
/* body {
  padding: 16px;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-width: 2px;
  border-style: dashed;
}

.list-item.new::before {
  content: '';
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: green;
}

.list-item:nth-child(even) {
  border-color: tomato;
}

.list-item:nth-child(odd) {
  border-color: blueviolet;
}

.list-item:not(:last-child) {
  margin-bottom: 8px;
} */

/*-------------------------далі приклади для abstract-6-2--------------------------*/
/*--------------------приклад - 2, 3, 4, 5, 6 abstract-6-2-----------------*/
/* .section-buttons {
  display: flex;
}

.btn {
  display: block;
  background-color: aqua;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  border: 0;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.btn:hover,
.btn:focus {
  background-color: rgb(255, 0, 166);
} */

/*--------------------приклад - 7 abstract-6-2-----------------*/
/* .section {
  min-height: 100vh;
  display: flex;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  margin-bottom: 16px;
  padding: 8px 12px;
}

.register-form button {
  padding: 12px;
} */

/*--------------------приклад - 9 abstract-6-2-----------------*/
/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.log-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 24px;
  margin-top: 16px;
}

.log-item {
  position: relative;
  padding: 8px;
  border: 1px dashed #2a2a2a;
  border-radius: 4px;
  font-size: 16px;
  font-family: monospace;
}

.log-item > .chip {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.log-list li:not(:last-child) {
  margin-bottom: 4px;
}

button {
  display: inline-flex;
  padding: 8px 12px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
} */

/*--------------------приклад - 11 abstract-6-2-----------------*/
/* .section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

.btn {
  background-color: aqua;
  color: #fff;
  padding: 5px 20px;
  border-radius: 4px;
  border: 0;
}

.btn:hover,
.btn:focus {
  background-color: rgb(255, 0, 166);
} */

/*--------------------приклад - 12 abstract-6-2-----------------*/
/* body {
  margin: 16px;
}

select {
  padding: 4px;
} */

/*--------------------приклад - 13 abstract-6-2-----------------*/
/* body {
  margin: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

p {
  overflow-wrap: anywhere;
}

input {
  width: 100%;
  max-width: 320px;
  padding: 8px;
  font: inherit;
  letter-spacing: inherit;
} */

/*--------------------приклад - 14 abstract-6-2-----------------*/
/* body {
  margin: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

input {
  width: 100%;
  max-width: 320px;
  padding: 8px;
  font: inherit;
  letter-spacing: inherit;
}

button {
  display: inline-flex;
  padding: 4px;
  margin-right: 2px;
  margin-left: 2px;
} */

/*--------------------приклад - 5 modul-6-repeta-1-----------------*/
/* .site-nav__link {
  text-decoration: none;
  color: black;
}

.site-nav__link:hover,
.site-nav__link:focus {
  text-decoration: underline;
}

.site-nav__link--current {
  color: blueviolet;
} */

/*--------------------приклад - 8 modul-6-repeta-1-----------------*/
/* .color-picker__option {
  border-radius: 4px;
  border: 0;
  padding: 10px;
}
.color-picker__option:not(:last-child) {
  margin-right: 15px;
} */

/*--------------------для прикладу 11 modul-6(repeta-1)-----------------*/
/* строка 327 - modul-6-repeta-1 */
/* .title__link {
  color: blueviolet;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.title:hover .title__link {
  color: rgb(223, 26, 160);
} */

/*--------------------для прикладу 12 modul-6(repeta-1)-----------------*/
/* .transaction-table {
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #2a2a2a;
} */

/*-------------------для прикладу 5 modul-6 (repeta-2)-----------------*/
/* .output {
  font-size: 24px;
} */

/*-------------------для прикладу 5 modul-6 (repeta-2)-----------------*/
/* .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #3f51b5;
  transition: background-color 200ms ease-in;
}

.box--active {
  background-color: #009688;
}

.inner-box {
  width: 100px;
  height: 100px;
  background-color: #ffc107;
} */

/*-------------------для прикладу модалка modul-6 (repeta-2)-----------------*/
/* body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  padding: 24px;
  border-radius: 4px;
  max-width: 640px;
  width: 100%;
  min-height: 320px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
} */
